<!DOCTYPE html>
<html lang="en">

<head>
	<script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
	<title>Chartjs Charts</title>
</head>

<body>
	<div style="height: 75vh; width: 90%; margin: auto;">
		<canvas id="myChart" ></canvas>
	</div>

	<script>
		const labels = {{ dTs | tojson}};

		const data = {
			labels: labels,
			datasets: [{
				label: 'Delhi',
				backgroundColor: '#ff6c8b',
				borderColor: '#ff6c8b',
				data: {{ dDh | tojson}},
				},
				{
				label: 'BRPL',
				backgroundColor: '#37a2eb',
				borderColor: '#37a2eb',
				data: {{ dBrpl | tojson}},
				},
				{
				label: 'BYPL',
				backgroundColor: '#ffcf5d',
				borderColor: '#ffcf5d',
				data: {{ dBypl | tojson}},
				},
				{
				label: 'NDPL',
				backgroundColor: '#57c4c4',
				borderColor: '#57c4c4',
				data: {{ dNdpl | tojson}},
				},
				{
				label: 'NDMC',
				backgroundColor: '#9c6aff',
				borderColor: '#9c6aff',
				data: {{ dNdmc | tojson}},
				},
				{
				label: 'MES',
				backgroundColor: '#46a9ec',
				borderColor: '#46a9ec',
				data: {{ dMes | tojson}},
				},
				{
				label: 'OTHERS',
				backgroundColor: '#c9cbcf',
				borderColor: '#c9cbcf',
				data: {{ dOthers | tojson}},
				
			}]
		};

		const config = {
			type: 'line',
			data: data,
			options: { maintainAspectRatio: false }
		};

		const myChart = new Chart(
			document.getElementById('myChart'),
			config
		);

	</script>
</body>
</html>
